<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script>
	$(document).ready(function(){
		$(".tag").change(function(){
			var objs =document.getElementById("tag_area");
			var sels = [];
			for (var i = 0; i < objs.children.length; i++)
			{
				if (objs.children[i].type !== undefined)
				{
					if (objs.children[i].type =="checkbox" && objs.children[i].checked ==true)
					{
						sels.push(objs.children[i].value);
					}
				}
			}

			$.ajax({
				url: "kuunnelmas/filter",
				data: { "selected_tags" : sels },
				cache: false,
				type: "GET",
				success: function(response) {
					$("#filter").remove();
					$("#grid").append(response);
				},
				error: function(xhr) {
					$("#filter").html ='<b>Error finding kuunnelmas</b>';
				}
			});
		})
	});
</script>

<div id="grid">
	<div id="tag_area">
		<%  Tag.all.each do |tag| %>
			<%= check_box_tag "tags[#{tag.id}]",
				tag.id,
				false,
				:id => "tags_#{tag.id}",
				:class => "tag"
			%>
			<%= label_tag "tags[#{tag.id}]", tag.tag %>
		<% end %>
		<p>
	</div>

	<%= render partial: 'filter', locals: { :kuunnelmas => @kuunnelmas }  %>
</div>
